[submodule "myWebsite"]
	path = myWebsite
	url = https://github.com/SombrePigeon/myWebsite.git
[submodule "torrent"]
	path = torrent
	url = https://github.com/SombrePigeon/torrent.git
[submodule "minecraft-server"]
	path = minecraft-server
	url = https://github.com/SombrePigeon/minecraft-server.git
