[submodule "myWebsite"]
	path = myWebsite
	url = https://github.com/SombrePigeon/myWebsite.git
[submodule "torrent"]
	path = torrent
	url = https://github.com/SombrePigeon/torrent.git
[submodule "video-streaming"]
	path = video-streaming
	url = https://github.com/SombrePigeon/video-streaming.git
[submodule "cloud"]
	path = cloud
	url = https://github.com/SombrePigeon/cloud.git

[submodule "website_info"]
	path = website_info
	url = https://github.com/SombrePigeon/website_info.git
[submodule "trainingWebComponents"]
	path = trainingWebComponents
	url = https://github.com/SombrePigeon/trainingWebComponents.git
[submodule "webIde"]
	path = webIde
	url = https://github.com:SombrePigeon/webIde.git
